#user{
    position: absolute;
    top: 1.2%;
    right: 6.5%;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #user svg{
    position: relative;
    
  }

  #user p {
    font-size: 14px;
    position: absolute;
    top: 30px;
    font-weight: bold;
    color: whitesmoke;
  }

  #cerrarSesion{
    position: absolute;
    right: 4%;
    top: 1.8%;
    border: none;
    background: none;
  }

  #cerrarSesion svg{
    width: 2.5em;
    height: 2.5em;
  }

  #cerrarSesion svg:hover{
    cursor: pointer;
    background-color: black;
    border-radius: 50px;
  }

  #carrito{
    position: absolute;
    top: 2%;
    right: 1%;
    border: none;
    background: none;
  }

  #carrito svg:hover{
    cursor: pointer;
  }