.container-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container-main{
    width: 100%;
}

.container-main .container-buttons{
    width: 100%;
}

#form-button{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.container-buttons button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    height: 30px;
    color: whitesmoke;
    background-color: black;
    border-radius: 50px;

}

button:hover{
    background-color: rgba(0, 0, 0, 0.8);
    color: yellow;
    cursor: pointer;
}

 form button:hover{
    cursor: pointer;
}
form #bt{
    background: none;
    border: none;
    padding: 1%;
  }

  form #bt:hover{
    cursor: pointer;
}

.total{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10%;
    color: whitesmoke;
    margin: 2%;
    border: white 2px solid;
    height: 40px;
}

.total label {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    backdrop-filter: blur(10px);
}