

  main{
    height: 75dvh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  main table {
    width: 100%;
    backdrop-filter: blur(10px);
    color: white;
  }

  main table th{
    border: solid 2px white;
  }

  main table td{
    border: solid 2px white;
    text-align: center;
  }

  main table .carrito{
    width: 10%;
  }

  form input:hover{
    cursor: pointer;
}
  

 