
  main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
  }

  main table {
    width: 100%;
    backdrop-filter: blur(10px);
    color: white;
    margin-top: 20px;
  }

  main table th{
    border: solid 2px white;
  }

  main table td{
    border: solid 2px white;
    text-align: center;
  }

  main table .carrito{
    width: 10%;
  }

  form #bt{
    background: none;
    border: none;
    padding: 1%;
  }

  form #bt:hover{
    cursor: pointer;
}


  

 